@charset "UTF-8";
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url("../fonts/Lora/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url("../fonts/Lora/Lora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/Playfair_Display/Playfair_Display-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*--------------------*/
body {
  font-size: 16px;
  font-weight: 400;
  color: #10375c;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1152px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin-top: 60px;
}

@media (max-width: 479.98px) {
  .header {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}

.header__logo {
  font-family: 'Playfair Display';
  font-size: 24px;
  padding: 12px 0;
}

.header__nav {
  padding: 12px 0;
  font-weight: 700;
  color: #222831;
}

.header__controllers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  height: 43px;
  padding: 12px 24px;
  font-family: inherit;
  font-weight: 700;
  -webkit-transition: all .2 ease;
  -o-transition: all .2 ease;
  transition: all .2 ease;
}

.header .log-in-btn {
  width: 92px;
  background-color: transparent;
  color: #ff5722;
}

.header .log-in-btn:hover {
  color: rgba(255, 87, 36, 0.7);
}

.header .sign-up-btn {
  width: 103px;
  color: #fff;
  background-color: #ff5722;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}

.header .sign-up-btn:hover {
  background-color: rgba(255, 87, 36, 0.8);
}

.nav-header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 10px;
}

@media (max-width: 991.98px) {
  .nav-header__list {
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 24px;
    color: #10375c;
    row-gap: 25px;
    position: absolute;
    top: 108px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 50;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}

.nav-header__list._active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  visibility: visible;
}

.nav-header__link:hover {
  color: #ff5722;
}

.burger-header {
  display: none;
}

@media (max-width: 991.98px) {
  .burger-header {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    margin-left: 20px;
    cursor: pointer;
  }
  .burger-header span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: -webkit-calc(50% - 1px);
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .burger-header span:first-child {
    top: 0px;
  }
  .burger-header span:last-child {
    top: auto;
    bottom: 0px;
  }
  .burger-header._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .burger-header._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -webkit-calc(50% - 1px);
    top: calc(50% - 1px);
  }
  .burger-header._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: -webkit-calc(50% - 1px);
    bottom: calc(50% - 1px);
  }
}

section:not(:first-child) {
  margin-top: 112px;
}

@media (max-width: 1152px) {
  section:not(:first-child) {
    margin-top: 112px;
  }
}

@media (max-width: 1152px) and (max-width: 1140px) {
  section:not(:first-child) {
    margin-top: -webkit-calc(50px + 62 * ((100vw - 320px) / 820));
    margin-top: calc(50px + 62 * ((100vw - 320px) / 820));
  }
}

.section-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #222831;
  margin-bottom: 10px;
}

.section-intro::after {
  content: '';
  margin-left: 15px;
  margin-top: 4px;
  width: 73px;
  height: 2px;
  background-color: #222831;
}

.section-title {
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3em;
}

@media (max-width: 991.98px) {
  .section-title {
    font-size: 40px;
  }
}

@media (max-width: 991.98px) and (max-width: 1140px) {
  .section-title {
    font-size: -webkit-calc(24px + 16 * ((100vw - 320px) / 820));
    font-size: calc(24px + 16 * ((100vw - 320px) / 820));
  }
}

.section-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  color: #9a9a9a;
}

.hero {
  margin-top: 56px;
}

.hero__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 767.98px) {
  .hero__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__slider {
  margin-top: 33px;
}

.hero .section-title {
  font-size: 52px;
  margin-right: 60px;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.hero .section-title b {
  color: #dd2c00;
}

@media (max-width: 991.98px) {
  .hero .section-title {
    font-size: 52px;
  }
}

@media (max-width: 991.98px) and (max-width: 1140px) {
  .hero .section-title {
    font-size: -webkit-calc(36px + 16 * ((100vw - 320px) / 820));
    font-size: calc(36px + 16 * ((100vw - 320px) / 820));
  }
}

.hero .section-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 10px;
  color: #6a6a6a;
}

.slider-hero {
  position: relative;
}

.slider-hero__img img {
  width: 100%;
  height: 566px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767.98px) {
  .slider-hero__img img {
    height: 300px;
  }
}

.slider-hero .swiper-pagination {
  margin-bottom: 27px;
}

.slider-hero .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 0;
          border-radius: 0;
}

.slider-hero .swiper-pagination .swiper-pagination-bullet-active {
  width: 40px;
  background-color: #ff5722;
}

.spaces__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-column-gap: 110px;
     -moz-column-gap: 110px;
          column-gap: 110px;
}

@media (max-width: 767.98px) {
  .spaces__header {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

@media (max-width: 767.98px) {
  .spaces__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.spaces .section-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  line-height: 1.5em;
  max-width: 450px;
}

@media (max-width: 767.98px) {
  .spaces .section-text {
    margin-top: 15px;
  }
}

.spaces__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
}

.spaces__slider {
  margin: 0 auto;
  margin-top: 64px;
}

@media (max-width: 767.98px) {
  .spaces__slider {
    width: 350px;
  }
}

.header-spaces__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 14px;
}

@media (max-width: 767.98px) {
  .header-spaces__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
}

.slider-controllers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 170px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.slider-controllers__arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
}

.arrow-left {
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.arrow-left .arrow__line {
  margin-left: 4px;
}

.arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 29px;
  width: 50px;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.arrow__line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #9a9a9a;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.arrow__body {
  fill: #9a9a9a;
  position: absolute;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.arrow:hover {
  width: 90px;
}

.arrow:hover .arrow__line {
  background-color: #ff5722;
}

.arrow:hover .arrow__body {
  fill: #ff5722;
}

.arrow-right {
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.arrow-right .arrow__line {
  margin-right: 4px;
}

.slider-spaces__nav {
  margin: 0 auto;
  width: 160px;
  height: 4px;
  margin-top: 53px;
}

.slider-spaces__nav .swiper-pagination-progressbar-fill {
  background-color: #ff5722;
}

.slider-spaces__progressbar {
  position: relative;
  background-color: #9a9a9a;
}

.slider-spaces__fractions {
  text-align: center;
  margin-top: 7px;
}

.slider-spaces__current {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5em;
  color: #222831;
}

.slider-spaces .slash {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #0d2c4a;
}

.slider-spaces__all {
  line-height: 1.6em;
  color: #9a9a9a;
}

.card-spaces {
  height: 468px;
  position: relative;
}

.card-spaces__content {
  color: #fff;
}

.card-spaces__img {
  width: 100%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-spaces__title {
  text-align: center;
  padding-top: 25px;
  font-weight: 700;
  font-size: 20px;
  color: #222831;
}

.card-spaces__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  text-align: center;
  margin-top: 14px;
}

.card-spaces:hover .main-content {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.card-spaces:hover .private-card {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.card-spaces:hover .check-avaibility-btn {
  bottom: 0;
}

.check-avaibility-btn {
  position: absolute;
  left: 0;
  bottom: 48px;
  color: #fff;
  font-weight: 700;
  font-size: 0;
  line-height: 0;
  text-align: left;
  width: 72px;
  height: 72px;
  background-color: #ff5722;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.check-avaibility-btn::after {
  content: '';
  width: 10px;
  height: 16px;
  position: absolute;
  top: 29px;
  right: 32px;
  background-image: url(../img/svg/chevron-right.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.check-avaibility-btn:hover {
  width: 255px;
  padding: 25px 54px;
  font-size: 18px;
  line-height: 1.2em;
}

.main-content {
  opacity: 1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.private-card {
  background-color: #10375c;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.private-card:after {
  content: '';
  width: 90px;
  height: 90px;
  position: absolute;
  background-image: url(../img/svg/mask-group.svg);
  right: 16px;
  top: 16px;
}

.private-card__content {
  height: 100%;
  padding: 144px 41px 184px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.private-card__title {
  font-family: 'Lora', sans-serif;
  text-align: center;
  font-size: 32px;
}

.whyfrispes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}

@media (max-width: 767.98px) {
  .whyfrispes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.whyfrispes__benefits {
  padding: 36px 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 64px;
}

@media (max-width: 767.98px) {
  .whyfrispes__benefits {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}

.whyfrispes__benefit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.whyfrispes__content {
  max-width: 540px;
  padding: 54px;
  background-color: #10375c;
}

@media (max-width: 767.98px) {
  .whyfrispes__content {
    width: 100%;
  }
}

.whyfrispes__content .section-intro {
  color: #fff;
}

.whyfrispes__content .section-intro::after {
  background-color: #fff;
}

.whyfrispes__content .section-title {
  margin-top: 8px;
  color: #fff;
}

.whyfrispes__content .section-text {
  margin-top: 24px;
  color: #fff;
}

.benefit__icon {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 24px;
}

@media (max-width: 479.98px) {
  .benefit__icon {
    width: 20px;
    height: 20px;
    margin-right: 14px;
  }
}

.benefit__content {
  width: 150px;
}

@media (max-width: 479.98px) {
  .benefit__content {
    width: 100px;
  }
}

.benefit__value {
  font-family: 'Lora', sans-serif;
  font-size: 32px;
  margin-bottom: 8px;
  line-height: 1.3em;
}

@media (max-width: 479.98px) {
  .benefit__value {
    font-size: 20px;
  }
}

.benefit__title {
  color: #9a9a9a;
  line-height: 1.6em;
}

.facilities .section-title {
  max-width: 570px;
}

.facilities__header {
  margin-bottom: 51px;
}

.facilities__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 88px;
     -moz-column-gap: 88px;
          column-gap: 88px;
}

@media (max-width: 767.98px) {
  .facilities__content {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}

.facilities__nav {
  max-width: 293px;
}

.facilities__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.facilities__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 24px;
  font-size: 20px;
  font-weight: 700;
  color: #222831;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
}

.facilities__item:hover {
  background-color: rgba(255, 87, 34, 0.1);
}

.facilities__item.swiper-slide-thumb-active {
  background-color: #ff5722;
  color: #fff;
}

.facilities__item.swiper-slide-thumb-active:hover {
  background-color: #ff5722;
}

@media (max-width: 767.98px) {
  .facilities__item {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.facilities__slider {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 453px;
}

@media (max-width: 991.98px) {
  .facilities__slider {
    height: 300px;
  }
}

@media (max-width: 479.98px) {
  .facilities__slider {
    height: 200px;
    width: 200px;
  }
}

.facilities__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  position: relative;
  height: 606px;
}

@media (max-width: 1152px) {
  .gallery {
    height: 556px;
  }
}

.gallery__header {
  position: absolute;
  top: 0;
  right: 15px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
  z-index: 5;
}

.gallery__header .section-title {
  margin-bottom: 39px;
}

@media (max-width: 1152px) {
  .gallery__header {
    width: 400px;
  }
}

@media (max-width: 991.98px) {
  .gallery__header {
    position: relative;
    right: 0;
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 15px;
  }
}

.gallery__slider-wrapper {
  width: 100%;
  height: 100%;
  padding-left: 95px;
}

@media (max-width: 1152px) {
  .gallery__slider-wrapper {
    padding-left: 60px;
  }
}

@media (max-width: 991.98px) {
  .gallery__slider-wrapper {
    padding-left: 0;
  }
}

.gallery__slider {
  margin: 0;
  width: 445px;
  height: 100%;
  overflow: visible;
}

@media (max-width: 991.98px) {
  .gallery__slider {
    width: 350px;
    height: 60%;
  }
}

.header-gallery__container {
  max-width: 500px;
}

.slider-gallery__slide {
  width: 350px;
  padding: 256px 0 0 0;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  -webkit-transition: padding .7s ease;
  -o-transition: padding .7s ease;
  transition: padding .7s ease;
}

@media (max-width: 991.98px) {
  .slider-gallery__slide {
    padding: 0;
    height: 100%;
    width: 100%;
  }
}

.slider-gallery__slide img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-gallery__slide.swiper-slide-active {
  width: 445px;
  padding: 0;
}

@media (max-width: 991.98px) {
  .slider-gallery__slide.swiper-slide-active {
    padding: 0;
    height: 100%;
    width: 100%;
  }
}

.slider-gallery__image {
  position: relative;
  height: 100%;
}

.whouse {
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.whouse__header .section-title {
  text-align: center;
  margin-bottom: 24px;
}

.whouse__header .section-text {
  text-align: center;
}

.whouse__users {
  margin: 0 auto;
  margin-top: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  row-gap: 10px;
}

@media (max-width: 767.98px) {
  .whouse__users {
    gap: 10px;
  }
}

.reviews__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
}

.reviews__header .section-title {
  max-width: 400px;
  padding-bottom: 14px;
}

@media (max-width: 767.98px) {
  .reviews__header .section-title {
    margin-bottom: 10px;
  }
}

@media (max-width: 767.98px) {
  .reviews__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.reviews__slider-wrapper {
  margin-top: 54px;
  max-width: 445px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.reviews__slider {
  position: relative;
  width: 100%;
  height: 392px;
  margin: 0;
  overflow: visible;
}

.reviews__slider::before {
  content: '';
  width: -webkit-calc(100vw - (1140px - 30px) / 2);
  width: calc(100vw - (1140px - 30px) / 2);
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 10;
  background-color: #fff;
}

.slider-reviews__card {
  width: 100%;
  padding: 47px 40px 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 25px;
  background-color: #10375c;
  color: #fff;
}

.slider-reviews__nav {
  margin: 0 auto;
  width: 160px;
  height: 4px;
  margin-top: 32px;
}

.slider-reviews__nav .swiper-pagination-progressbar-fill {
  background-color: #ff5722;
}

.slider-reviews__progressbar {
  position: relative;
  background-color: #9a9a9a;
}

.card-review__text {
  line-height: 1.6em;
}

.card-review__author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card-author__avatar {
  width: 56px;
  height: 56px;
  margin-right: 16px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-author__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-author__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5em;
}

.card-author__speciality {
  margin-top: 4px;
  line-height: 1.6em;
}

.questions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions .section-title {
  text-align: center;
  max-width: 578px;
}

.questions__cards {
  margin-top: 54px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 479.98px) {
  .questions__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}

.questions__card {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 171px;
  padding: 42px 40px;
  color: #000;
  text-align: center;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.questions__card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  background-color: #ff5722;
}

.questions__card:hover .card-question__badge {
  -webkit-box-shadow: 0px 4px 20px rgba(255, 87, 34, 0.3);
          box-shadow: 0px 4px 20px rgba(255, 87, 34, 0.3);
  background-color: #fff;
}

.questions__card:hover .badge__arrow {
  fill: #ff5722;
}

.card-question__text {
  font-family: 'Lora', sans-serif;
  font-size: 26px;
  line-height: 1.5em;
}

@media (max-width: 1152px) {
  .card-question__text {
    font-size: 22px;
  }
}

@media (max-width: 991.98px) {
  .card-question__text {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  .card-question__text {
    font-size: 15px;
  }
}

@media (max-width: 479.98px) {
  .card-question__text {
    font-size: 24px;
  }
}

.card-question__badge {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 48px;
  background-color: #ff5722;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.badge__arrow {
  fill: #fff;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.show-more-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}

.show-more-link__text {
  color: #ff5722;
  margin-right: 19px;
  padding-bottom: 3px;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.show-more-link__arrow {
  fill: #ff5722;
  -webkit-transition: fill .2s ease;
  -o-transition: fill .2s ease;
  transition: fill .2s ease;
}

.show-more-link:hover .show-more-link__text {
  color: rgba(255, 87, 36, 0.7);
}

.show-more-link:hover .show-more-link__arrow {
  fill: rgba(255, 87, 36, 0.7);
}

.grey-background-box {
  background-color: #f8f8f8;
  padding-top: 100px;
  padding-bottom: 15px;
}

.news__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.news__header .show-more-link {
  margin-top: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.news__cards {
  width: 100%;
  margin-top: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 767.98px) {
  .news__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.news__card {
  width: 350px;
  height: 320px;
  background-color: #fff;
}

.news__card:hover {
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .news__card {
    max-width: 350px;
  }
}

.card-primary {
  width: 730px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .card-primary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 350px;
    height: auto;
  }
}

.card-primary__img {
  width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-primary__content {
  background-color: #fff;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 32px;
}

.card-primary__title {
  font-family: 'Lora', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3em;
  color: #222831;
}

.card-primary__text {
  margin-top: 24px;
  line-height: 1.6em;
  color: #9a9a9a;
}

.card-primary__author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.card-primary__author .card-author__name {
  color: #10375c;
}

.card-primary__author .card-author__speciality {
  color: #9a9a9a;
}

.card-article__img {
  height: 204px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-article__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 14px 16px;
}

.card-article__title {
  font-family: 'Lora', sans-serif;
  font-size: 22px;
  line-height: 1.2em;
  color: #222831;
}

.card-article__author {
  line-height: 1.6em;
  color: #9a9a9a;
  margin-top: 6px;
}

.footer {
  margin-top: 27px;
  background-color: #0D2C4A;
}

.footer__container {
  padding-top: 70px;
  padding-bottom: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767.98px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__about {
  max-width: 255px;
  margin-right: 125px;
  padding-bottom: 24px;
}

@media (max-width: 1152px) {
  .footer__about {
    margin-right: 65px;
  }
}

@media (max-width: 767.98px) {
  .footer__about {
    max-width: 100%;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 68px;
     -moz-column-gap: 68px;
          column-gap: 68px;
  padding-top: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1140px) {
  .footer__nav {
    -webkit-column-gap: -webkit-calc(15px + 53 * ((100vw - 320px) / 820));
       -moz-column-gap: calc(15px + 53 * ((100vw - 320px) / 820));
            column-gap: calc(15px + 53 * ((100vw - 320px) / 820));
  }
}

@media (max-width: 1152px) {
  .footer__nav {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    gap: 15px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 767.98px) {
  .footer__nav {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about__title {
  font-family: 'Lora', sans-serif;
  font-weight: 700;
  font-size: 52px;
  color: #fff;
  line-height: 1.3em;
}

.about__text {
  color: #f8f8f8;
  margin-top: 16px;
  line-height: 1.6em;
}

.about__socials {
  margin-top: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.socials__item {
  fill: #fff;
  -webkit-transition: fill .2s ease;
  -o-transition: fill .2s ease;
  transition: fill .2s ease;
}

.socials__item:hover {
  fill: #ff5722;
}

.socials__link {
  -webkit-transition: fill .2s ease;
  -o-transition: fill .2s ease;
  transition: fill .2s ease;
}

.socials__icon {
  fill: inherit;
}

.nav-footer__section {
  max-width: 212px;
}

@media (max-width: 1152px) {
  .nav-footer__section {
    width: 150px;
  }
}

.nav-footer__title {
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.nav-footer__list {
  margin-top: 24px;
}

.nav-footer__item {
  color: #fff;
  -webkit-transform: color .2s ease;
      -ms-transform: color .2s ease;
          transform: color .2s ease;
}

.nav-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.nav-footer__item:hover {
  color: #ff5722;
}

.nav-footer__link {
  line-height: 1.6em;
}

.nav-footer__link b {
  font-weight: 700;
}
